{% extends "base.html" %}

{% block title %}Elements - DevSciLab{% endblock %}
{% block body_class %}is-preload{% endblock %}

{% block content %}
<section class="container" id="main">
 <header>
  <h2>
   Elementos
  </h2>
  <p>
   S&oacute;lo una variada selecci&oacute;n de elementos.
  </p>
 </header>
 <div class="row">
  <div class="col-12">
   Texto
   <section class="box">
    <h3>
     Texto
    </h3>
    <p>
     Esto es
     <b>
      atrevido
     </b>
     y esto es
     <strong>
      fuerte
     </strong>
     . Esto es
     <i>
      it&aacute;lico
     </i>
     y esto es
     <em>
      enfatizado
     </em>
     .
					Esto es
     <sup>
      sobrescrito
     </sup>
     texto y esto es
     <sub>
      sub&iacute;ndice
     </sub>
     texto.
					Esto es
     <u>
      testado
     </u>
     y este es el c&oacute;digo:
     <code>
      for (;;) { ... }
     </code>
     . Finalmente,
     <a href="#">
      esto
						es un enlace
     </a>
     .
    </p>
    <hr/>
    <header>
     <h3>
      T&iacute;tulo con subt&iacute;tulo
     </h3>
     <p>
      Lorem ipsum dolor sit amet nullam id egestas urna aliquam
     </p>
    </header>
    <p>
     Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
					faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
					varius montes viverra nibh en adipiscente blandit tempus accumsan.
    </p>
    <header>
     <h4>
      T&iacute;tulo con subt&iacute;tulo
     </h4>
     <p>
      Lorem ipsum dolor sit amet nullam id egestas urna aliquam
     </p>
    </header>
    <p>
     Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
					faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
					varius montes viverra nibh en adipiscente blandit tempus accumsan.
    </p>
    <hr/>
    <h2>
     Nivel de encabezado 2
    </h2>
    <h3>
     Nivel de encabezado 3
    </h3>
    <h4>
     Nivel de encabezado 4
    </h4>
    <h5>
     Nivel de encabezado 5
    </h5>
    <h6>
     Nivel de encabezado 6
    </h6>
    <hr/>
    <h4>
     cita en bloque
    </h4>
    <blockquote>
     Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus
					euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
					volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor
					sit amet nullam adipiscing eu felis.
    </blockquote>
    <h4>
     Preformateado
    </h4>
    <pre>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';
</pre>
   </section>
  </div>
 </div>
 <div class="row">
  <div class="col-12">
   Liza
   <section class="box">
    <h3>
     Liza
    </h3>
    <div class="row">
     <div class="col-6 col-12-mobilep">
      <h4>
       desordenado
      </h4>
      <ul>
       <li>
        Dolor pulvinar etiam magna etiam.
       </li>
       <li>
        Sagitario adipiscente lorem eleifend.
       </li>
       <li>
        Felis enim feugiat dolore viverra.
       </li>
      </ul>
      <h4>
       Alternar
      </h4>
      <ul class="alt">
       <li>
        Dolor pulvinar etiam magna etiam.
       </li>
       <li>
        Sagitario adipiscente lorem eleifend.
       </li>
       <li>
        Felis enim feugiat dolore viverra.
       </li>
      </ul>
     </div>
     <div class="col-6 col-12-mobilep">
      <h4>
       Ordenado
      </h4>
      <ol>
       <li>
        Dolor pulvinar etiam magna etiam.
       </li>
       <li>
        Etiam vel felis en lorem sed viverra.
       </li>
       <li>
        Felis enim feugiat dolore viverra.
       </li>
       <li>
        Dolor pulvinar etiam magna etiam.
       </li>
       <li>
        Etiam vel felis en lorem sed viverra.
       </li>
       <li>
        Felis enim feugiat dolore viverra.
       </li>
      </ol>
      <h4>
       Iconos
      </h4>
      <ul class="icons">
       <li>
        <a class="icon brands fa-twitter" href="#">
         <span class="label">
          Gorjeo
         </span>
        </a>
       </li>
       <li>
        <a class="icon brands fa-facebook-f" href="#">
         <span class="label">
          Facebook
         </span>
        </a>
       </li>
       <li>
        <a class="icon brands fa-instagram" href="#">
         <span class="label">
          Instagram
         </span>
        </a>
       </li>
       <li>
        <a class="icon brands fa-github" href="#">
         <span class="label">
          GitHub
         </span>
        </a>
       </li>
       <li>
        <a class="icon brands fa-dribbble" href="#">
         <span class="label">
          regatear
         </span>
        </a>
       </li>
       <li>
        <a class="icon brands fa-tumblr" href="#">
         <span class="label">
          tumblr
         </span>
        </a>
       </li>
      </ul>
     </div>
    </div>
    <h4>
     Comportamiento
    </h4>
    <ul class="actions">
     <li>
      <a class="button special" href="#">
       Por defecto
      </a>
     </li>
     <li>
      <a class="button" href="#">
       Por defecto
      </a>
     </li>
     <li>
      <a class="button alt" href="#">
       Por defecto
      </a>
     </li>
    </ul>
    <ul class="actions small">
     <li>
      <a class="button special small" href="#">
       Peque&ntilde;o
      </a>
     </li>
     <li>
      <a class="button small" href="#">
       Peque&ntilde;o
      </a>
     </li>
     <li>
      <a class="button alt small" href="#">
       Peque&ntilde;o
      </a>
     </li>
    </ul>
    <div class="row">
     <div class="col-3 col-6-narrower col-12-mobilep">
      <ul class="actions stacked">
       <li>
        <a class="button special" href="#">
         Por defecto
        </a>
       </li>
       <li>
        <a class="button" href="#">
         Por defecto
        </a>
       </li>
       <li>
        <a class="button alt" href="#">
         Por defecto
        </a>
       </li>
      </ul>
     </div>
     <div class="col-3 col-6-narrower col-12-mobilep">
      <ul class="actions stacked">
       <li>
        <a class="button special small" href="#">
         Peque&ntilde;o
        </a>
       </li>
       <li>
        <a class="button small" href="#">
         Peque&ntilde;o
        </a>
       </li>
       <li>
        <a class="button alt small" href="#">
         Peque&ntilde;o
        </a>
       </li>
      </ul>
     </div>
     <div class="col-3 col-6-narrower col-12-mobilep">
      <ul class="actions stacked">
       <li>
        <a class="button special fit" href="#">
         Por defecto
        </a>
       </li>
       <li>
        <a class="button fit" href="#">
         Por defecto
        </a>
       </li>
       <li>
        <a class="button alt fit" href="#">
         Por defecto
        </a>
       </li>
      </ul>
     </div>
     <div class="col-3 col-6-narrower col-12-mobilep">
      <ul class="actions stacked">
       <li>
        <a class="button special small fit" href="#">
         Peque&ntilde;o
        </a>
       </li>
       <li>
        <a class="button small fit" href="#">
         Peque&ntilde;o
        </a>
       </li>
       <li>
        <a class="button alt small fit" href="#">
         Peque&ntilde;o
        </a>
       </li>
      </ul>
     </div>
    </div>
   </section>
  </div>
 </div>
 <div class="row">
  <div class="col-12">
   Mesa
   <section class="box">
    <h3>
     Mesa
    </h3>
    <h4>
     Por defecto
    </h4>
    <div class="table-wrapper">
     <table>
      <thead>
       <tr>
        <th>
         Nombre
        </th>
        <th>
         Descripci&oacute;n
        </th>
        <th>
         Precio
        </th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Ante turpis entero aliquet porttitor.
        </td>
        <td>
         29,99
        </td>
       </tr>
       <tr>
        <td>
         Nada
        </td>
        <td>
         Vis ac commodo adipiscing arcu aliquet.
        </td>
        <td>
         19,99
        </td>
       </tr>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Morbi faucibus arcu accumsan lorem.
        </td>
        <td>
         29,99
        </td>
       </tr>
       <tr>
        <td>
         Nada
        </td>
        <td>
         Vitae entero tempus condimentum.
        </td>
        <td>
         19,99
        </td>
       </tr>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Ante turpis entero aliquet porttitor.
        </td>
        <td>
         29,99
        </td>
       </tr>
      </tbody>
      <tfoot>
       <tr>
        <td colspan="2">
        </td>
        <td>
         100.00
        </td>
       </tr>
      </tfoot>
     </table>
    </div>
    <h4>
     Alternar
    </h4>
    <div class="table-wrapper">
     <table class="alt">
      <thead>
       <tr>
        <th>
         Nombre
        </th>
        <th>
         Descripci&oacute;n
        </th>
        <th>
         Precio
        </th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Ante turpis entero aliquet porttitor.
        </td>
        <td>
         29,99
        </td>
       </tr>
       <tr>
        <td>
         Nada
        </td>
        <td>
         Vis ac commodo adipiscing arcu aliquet.
        </td>
        <td>
         19,99
        </td>
       </tr>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Morbi faucibus arcu accumsan lorem.
        </td>
        <td>
         29,99
        </td>
       </tr>
       <tr>
        <td>
         Nada
        </td>
        <td>
         Vitae entero tempus condimentum.
        </td>
        <td>
         19,99
        </td>
       </tr>
       <tr>
        <td>
         Algo
        </td>
        <td>
         Ante turpis entero aliquet porttitor.
        </td>
        <td>
         29,99
        </td>
       </tr>
      </tbody>
      <tfoot>
       <tr>
        <td colspan="2">
        </td>
        <td>
         100.00
        </td>
       </tr>
      </tfoot>
     </table>
    </div>
   </section>
  </div>
 </div>
 <div class="row">
  <div class="col-12">
   Botones
   <section class="box">
    <h3>
     Botones
    </h3>
    <ul class="actions">
     <li>
      <a class="button special" href="#">
       Especial
      </a>
     </li>
     <li>
      <a class="button" href="#">
       Por defecto
      </a>
     </li>
     <li>
      <a class="button alt" href="#">
       Alternar
      </a>
     </li>
    </ul>
    <ul class="actions">
     <li>
      <a class="button special big" href="#">
       Grande
      </a>
     </li>
     <li>
      <a class="button" href="#">
       Por defecto
      </a>
     </li>
     <li>
      <a class="button alt small" href="#">
       Peque&ntilde;o
      </a>
     </li>
    </ul>
    <ul class="actions fit">
     <li>
      <a class="button special fit" href="#">
       Adaptar
      </a>
     </li>
     <li>
      <a class="button fit" href="#">
       Adaptar
      </a>
     </li>
     <li>
      <a class="button alt fit" href="#">
       Adaptar
      </a>
     </li>
    </ul>
    <ul class="actions fit small">
     <li>
      <a class="button special fit small" href="#">
       Ajuste + Peque&ntilde;o
      </a>
     </li>
     <li>
      <a class="button fit small" href="#">
       Ajuste + Peque&ntilde;o
      </a>
     </li>
     <li>
      <a class="button alt fit small" href="#">
       Ajuste + Peque&ntilde;o
      </a>
     </li>
    </ul>
    <ul class="actions">
     <li>
      <a class="button special icon solid fa-search" href="#">
       Icono
      </a>
     </li>
     <li>
      <a class="button icon solid fa-download" href="#">
       Icono
      </a>
     </li>
     <li>
      <a class="button alt icon solid fa-check" href="#">
       Icono
      </a>
     </li>
    </ul>
    <ul class="actions">
     <li>
      <span class="button special disabled">
       Especial
      </span>
     </li>
     <li>
      <span class="button disabled">
       Por defecto
      </span>
     </li>
     <li>
      <span class="button alt disabled">
       Alternar
      </span>
     </li>
    </ul>
   </section>
  </div>
 </div>
 <div class="row">
  <div class="col-12">
   Forma
   <section class="box">
    <h3>
     Forma
    </h3>
    <form action="#" method="post">
     <div class="row gtr-uniform gtr-50">
      <div class="col-6 col-12-mobilep">
       <input id="name" name="name" placeholder="Name" type="text" value=""/>
      </div>
      <div class="col-6 col-12-mobilep">
       <input id="email" name="email" placeholder="Email" type="email" value=""/>
      </div>
      <div class="col-12">
       <select id="category" name="category">
        <option value="">
         - Categor&iacute;a -
        </option>
        <option value="1">
         Fabricaci&oacute;n
        </option>
        <option value="1">
         Env&iacute;o
        </option>
        <option value="1">
         Administraci&oacute;n
        </option>
        <option value="1">
         Recursos humanos
        </option>
       </select>
      </div>
      <div class="col-4 col-12-narrower">
       <input checked="" id="priority-low" name="priority" type="radio"/>
       <label for="priority-low">
        Prioridad baja
       </label>
      </div>
      <div class="col-4 col-12-narrower">
       <input id="priority-normal" name="priority" type="radio"/>
       <label for="priority-normal">
        Prioridad normal
       </label>
      </div>
      <div class="col-4 col-12-narrower">
       <input id="priority-high" name="priority" type="radio"/>
       <label for="priority-high">
        alta prioridad
       </label>
      </div>
      <div class="col-6 col-12-narrower">
       <input id="copy" name="copy" type="checkbox"/>
       <label for="copy">
        Env&iacute;eme una copia de este mensaje por correo electr&oacute;nico
       </label>
      </div>
      <div class="col-6 col-12-narrower">
       <input checked="" id="human" name="human" type="checkbox"/>
       <label for="human">
        Soy un humano y no un robot.
       </label>
      </div>
      <div class="col-12">
       <textarea id="message" name="message" placeholder="Enter your message" rows="6"></textarea>
      </div>
      <div class="col-12">
       <ul class="actions">
        <li>
         <input type="submit" value="Send Message"/>
        </li>
        <li>
         <input class="alt" type="reset" value="Reset"/>
        </li>
       </ul>
      </div>
     </div>
    </form>
    <hr/>
    <form action="#" method="post">
     <div class="row gtr-uniform gtr-50">
      <div class="col-9 col-12-mobilep">
       <input id="query" name="query" placeholder="Query" type="text" value="">
       </input>
      </div>
      <div class="col-3 col-12-mobilep">
       <input class="fit" type="submit" value="Search">
       </input>
      </div>
     </div>
    </form>
   </section>
  </div>
 </div>
 <div class="row">
  <div class="col-12">
   Imagen
   <section class="box">
    <h3>
     Imagen
    </h3>
    <h4>
     Adaptar
    </h4>
    <span class="image fit">
     <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
    </span>
    <div class="box alt">
     <div class="row gtr-50 gtr-uniform">
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
      <div class="col-4">
       <span class="image fit">
        <img alt="" src="{{ url_for('static', filename='images/pic04.jpg') }}"/>
       </span>
      </div>
     </div>
    </div>
    <h4>
     Izquierda y derecha
    </h4>
    <p>
     <span class="image left">
      <img alt="" src="{{ url_for('static', filename='images/pic05.jpg') }}"/>
     </span>
     Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis
					eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing ue
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent
					tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
					Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Ac entero
					praesent pellentesco. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus
					euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
					volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent tincidunt felis
					sagitario eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandita
					adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque
					presente.
    </p>
    <p>
     <span class="image right">
      <img alt="" src="{{ url_for('static', filename='images/pic05.jpg') }}"/>
     </span>
     Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis
					eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing ue
					felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent
					tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
					Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Ac entero
					praesent pellentesco. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus
					euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis
					volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent tincidunt felis
					sagitario eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandita
					adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque
					presente.
    </p>
   </section>
  </div>
 </div>
</section>
{% endblock %}
Texto
<section class="box">
 <h3>
  Texto
 </h3>
 <p>
  Esto es
  <b>
   atrevido
  </b>
  y esto es
  <strong>
   fuerte
  </strong>
  . Esto es
  <i>
   it&aacute;lico
  </i>
  y esto es
  <em>
   enfatizado
  </em>
  .
		Esto es
  <sup>
   sobrescrito
  </sup>
  texto y esto es
  <sub>
   sub&iacute;ndice
  </sub>
  texto.
		Esto es
  <u>
   testado
  </u>
  y este es el c&oacute;digo:
  <code>
   for (;;) { ... }
  </code>
  . Finalmente,
  <a href="#">
   esto es un
			enlace
  </a>
  .
 </p>
 <hr/>
 <header>
  <h3>
   T&iacute;tulo con subt&iacute;tulo
  </h3>
  <p>
   Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  </p>
 </header>
 <p>
  Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus
		ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes
		viverra nibh en adipiscente blandit tempus accumsan.
 </p>
 <header>
  <h4>
   T&iacute;tulo con subt&iacute;tulo
  </h4>
  <p>
   Lorem ipsum dolor sit amet nullam id egestas urna aliquam
  </p>
 </header>
 <p>
  Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus
		ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes
		viverra nibh en adipiscente blandit tempus accumsan.
 </p>
 <hr/>
 <h2>
  Nivel de encabezado 2
 </h2>
 <h3>
  Nivel de encabezado 3
 </h3>
 <h4>
  Nivel de encabezado 4
 </h4>
 <h5>
  Nivel de encabezado 5
 </h5>
 <h6>
  Nivel de encabezado 6
 </h6>
 <hr/>
 <h4>
  cita en bloque
 </h4>
 <blockquote>
  Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod.
		Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing
		accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu
		felis.
 </blockquote>
 <h4>
  Preformateado
 </h4>
 <pre>i = 0;

	while (!deck.isInOrder()) {
	    print 'Iteration ' + i;
	    deck.shuffle();
	    i++;
	}

	print 'It took ' + i + ' iterations to sort the deck.';
	</pre>
</section>
<div class="row">
 <div class="col-12">
  Liza
  <section class="box">
   <h3>
    Liza
   </h3>
   <div class="row">
    <div class="col-6 col-12-mobilep">
     <h4>
      desordenado
     </h4>
     <ul>
      <li>
       Dolor pulvinar etiam magna etiam.
      </li>
      <li>
       Sagitario adipiscente lorem eleifend.
      </li>
      <li>
       Felis enim feugiat dolore viverra.
      </li>
     </ul>
     <h4>
      Alternar
     </h4>
     <ul class="alt">
      <li>
       Dolor pulvinar etiam magna etiam.
      </li>
      <li>
       Sagitario adipiscente lorem eleifend.
      </li>
      <li>
       Felis enim feugiat dolore viverra.
      </li>
     </ul>
    </div>
    <div class="col-6 col-12-mobilep">
     <h4>
      Ordenado
     </h4>
     <ol>
      <li>
       Dolor pulvinar etiam magna etiam.
      </li>
      <li>
       Etiam vel felis en lorem sed viverra.
      </li>
      <li>
       Felis enim feugiat dolore viverra.
      </li>
      <li>
       Dolor pulvinar etiam magna etiam.
      </li>
      <li>
       Etiam vel felis en lorem sed viverra.
      </li>
      <li>
       Felis enim feugiat dolore viverra.
      </li>
     </ol>
     <h4>
      Iconos
     </h4>
     <ul class="icons">
      <li>
       <a class="icon brands fa-twitter" href="#">
        <span class="label">
         Gorjeo
        </span>
       </a>
      </li>
      <li>
       <a class="icon brands fa-facebook-f" href="#">
        <span class="label">
         Facebook
        </span>
       </a>
      </li>
      <li>
       <a class="icon brands fa-instagram" href="#">
        <span class="label">
         Instagram
        </span>
       </a>
      </li>
      <li>
       <a class="icon brands fa-github" href="#">
        <span class="label">
         GitHub
        </span>
       </a>
      </li>
      <li>
       <a class="icon brands fa-dribbble" href="#">
        <span class="label">
         regatear
        </span>
       </a>
      </li>
      <li>
       <a class="icon brands fa-tumblr" href="#">
        <span class="label">
         tumblr
        </span>
       </a>
      </li>
     </ul>
    </div>
   </div>
   <h4>
    Comportamiento
   </h4>
   <ul class="actions">
    <li>
     <a class="button special" href="#">
      Por defecto
     </a>
    </li>
    <li>
     <a class="button" href="#">
      Por defecto
     </a>
    </li>
    <li>
     <a class="button alt" href="#">
      Por defecto
     </a>
    </li>
   </ul>
   <ul class="actions small">
    <li>
     <a class="button special small" href="#">
      Peque&ntilde;o
     </a>
    </li>
    <li>
     <a class="button small" href="#">
      Peque&ntilde;o
     </a>
    </li>
    <li>
     <a class="button alt small" href="#">
      Peque&ntilde;o
     </a>
    </li>
   </ul>
   <div class="row">
    <div class="col-3 col-6-narrower col-12-mobilep">
     <ul class="actions stacked">
      <li>
       <a class="button special" href="#">
        Por defecto
       </a>
      </li>
      <li>
       <a class="button" href="#">
        Por defecto
       </a>
      </li>
      <li>
       <a class="button alt" href="#">
        Por defecto
       </a>
      </li>
     </ul>
    </div>
    <div class="col-3 col-6-narrower col-12-mobilep">
     <ul class="actions stacked">
      <li>
       <a class="button special small" href="#">
        Peque&ntilde;o
       </a>
      </li>
      <li>
       <a class="button small" href="#">
        Peque&ntilde;o
       </a>
      </li>
      <li>
       <a class="button alt small" href="#">
        Peque&ntilde;o
       </a>
      </li>
     </ul>
    </div>
    <div class="col-3 col-6-narrower col-12-mobilep">
     <ul class="actions stacked">
      <li>
       <a class="button special fit" href="#">
        Por defecto
       </a>
      </li>
      <li>
       <a class="button fit" href="#">
        Por defecto
       </a>
      </li>
      <li>
       <a class="button alt fit" href="#">
        Por defecto
       </a>
      </li>
     </ul>
    </div>
    <div class="col-3 col-6-narrower col-12-mobilep">
     <ul class="actions stacked">
      <li>
       <a class="button special small fit" href="#">
        Peque&ntilde;o
       </a>
      </li>
      <li>
       <a class="button small fit" href="#">
        Peque&ntilde;o
       </a>
      </li>
      <li>
       <a class="button alt small fit" href="#">
        Peque&ntilde;o
       </a>
      </li>
     </ul>
    </div>
   </div>
  </section>
 </div>
</div>
<div class="row">
 <div class="col-12">
  Mesa
  <section class="box">
   <h3>
    Mesa
   </h3>
   <h4>
    Por defecto
   </h4>
   <div class="table-wrapper">
    <table>
     <thead>
      <tr>
       <th>
        Nombre
       </th>
       <th>
        Descripci&oacute;n
       </th>
       <th>
        Precio
       </th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Ante turpis entero aliquet porttitor.
       </td>
       <td>
        29,99
       </td>
      </tr>
      <tr>
       <td>
        Nada
       </td>
       <td>
        Vis ac commodo adipiscing arcu aliquet.
       </td>
       <td>
        19,99
       </td>
      </tr>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Morbi faucibus arcu accumsan lorem.
       </td>
       <td>
        29,99
       </td>
      </tr>
      <tr>
       <td>
        Nada
       </td>
       <td>
        Vitae entero tempus condimentum.
       </td>
       <td>
        19,99
       </td>
      </tr>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Ante turpis entero aliquet porttitor.
       </td>
       <td>
        29,99
       </td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td colspan="2">
       </td>
       <td>
        100.00
       </td>
      </tr>
     </tfoot>
    </table>
   </div>
   <h4>
    Alternar
   </h4>
   <div class="table-wrapper">
    <table class="alt">
     <thead>
      <tr>
       <th>
        Nombre
       </th>
       <th>
        Descripci&oacute;n
       </th>
       <th>
        Precio
       </th>
      </tr>
     </thead>
     <tbody>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Ante turpis entero aliquet porttitor.
       </td>
       <td>
        29,99
       </td>
      </tr>
      <tr>
       <td>
        Nada
       </td>
       <td>
        Vis ac commodo adipiscing arcu aliquet.
       </td>
       <td>
        19,99
       </td>
      </tr>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Morbi faucibus arcu accumsan lorem.
       </td>
       <td>
        29,99
       </td>
      </tr>
      <tr>
       <td>
        Nada
       </td>
       <td>
        Vitae entero tempus condimentum.
       </td>
       <td>
        19,99
       </td>
      </tr>
      <tr>
       <td>
        Algo
       </td>
       <td>
        Ante turpis entero aliquet porttitor.
       </td>
       <td>
        29,99
       </td>
      </tr>
     </tbody>
     <tfoot>
      <tr>
       <td colspan="2">
       </td>
       <td>
        100.00
       </td>
      </tr>
     </tfoot>
    </table>
   </div>
  </section>
 </div>
</div>
<div class="row">
 <div class="col-12">
  Botones
  <section class="box">
   <h3>
    Botones
   </h3>
   <ul class="actions">
    <li>
     <a class="button special" href="#">
      Especial
     </a>
    </li>
    <li>
     <a class="button" href="#">
      Por defecto
     </a>
    </li>
    <li>
     <a class="button alt" href="#">
      Alternar
     </a>
    </li>
   </ul>
   <ul class="actions">
    <li>
     <a class="button special big" href="#">
      Grande
     </a>
    </li>
    <li>
     <a class="button" href="#">
      Por defecto
     </a>
    </li>
    <li>
     <a class="button alt small" href="#">
      Peque&ntilde;o
     </a>
    </li>
   </ul>
   <ul class="actions fit">
    <li>
     <a class="button special fit" href="#">
      Adaptar
     </a>
    </li>
    <li>
     <a class="button fit" href="#">
      Adaptar
     </a>
    </li>
    <li>
     <a class="button alt fit" href="#">
      Adaptar
     </a>
    </li>
   </ul>
   <ul class="actions fit small">
    <li>
     <a class="button special fit small" href="#">
      Ajuste + Peque&ntilde;o
     </a>
    </li>
    <li>
     <a class="button fit small" href="#">
      Ajuste + Peque&ntilde;o
     </a>
    </li>
    <li>
     <a class="button alt fit small" href="#">
      Ajuste + Peque&ntilde;o
     </a>
    </li>
   </ul>
   <ul class="actions">
    <li>
     <a class="button special icon solid fa-search" href="#">
      Icono
     </a>
    </li>
    <li>
     <a class="button icon solid fa-download" href="#">
      Icono
     </a>
    </li>
    <li>
     <a class="button alt icon solid fa-check" href="#">
      Icono
     </a>
    </li>
   </ul>
   <ul class="actions">
    <li>
     <span class="button special disabled">
      Especial
     </span>
    </li>
    <li>
     <span class="button disabled">
      Por defecto
     </span>
    </li>
    <li>
     <span class="button alt disabled">
      Alternar
     </span>
    </li>
   </ul>
  </section>
 </div>
</div>
<div class="row">
 <div class="col-12">
  Forma
  <section class="box">
   <h3>
    Forma
   </h3>
   <form action="#" method="post">
    <div class="row gtr-uniform gtr-50">
     <div class="col-6 col-12-mobilep">
      <input id="name" name="name" placeholder="Name" type="text" value="">
      </input>
     </div>
     <div class="col-6 col-12-mobilep">
      <input id="email" name="email" placeholder="Email" type="email" value=""/>
     </div>
     <div class="col-12">
      <select id="category" name="category">
       <option value="">
        - Categor&iacute;a -
       </option>
       <option value="1">
        Fabricaci&oacute;n
       </option>
       <option value="1">
        Env&iacute;o
       </option>
       <option value="1">
        Administraci&oacute;n
       </option>
       <option value="1">
        Recursos humanos
       </option>
      </select>
     </div>
     <div class="col-4 col-12-narrower">
      <input checked="" id="priority-low" name="priority" type="radio"/>
      <label for="priority-low">
       Prioridad baja
      </label>
     </div>
     <div class="col-4 col-12-narrower">
      <input id="priority-normal" name="priority" type="radio"/>
      <label for="priority-normal">
       Prioridad normal
      </label>
     </div>
     <div class="col-4 col-12-narrower">
      <input id="priority-high" name="priority" type="radio"/>
      <label for="priority-high">
       alta prioridad
      </label>
     </div>
     <div class="col-6 col-12-narrower">
      <input id="copy" name="copy" type="checkbox"/>
      <label for="copy">
       Env&iacute;eme una copia de este mensaje por correo electr&oacute;nico
      </label>
     </div>
     <div class="col-6 col-12-narrower">
      <input checked="" id="human" name="human" type="checkbox"/>
      <label for="human">
       Soy un humano y no un robot.
      </label>
     </div>
     <div class="col-12">
      <textarea id="message" name="message" placeholder="Enter your message" rows="6"></textarea>
     </div>
     <div class="col-12">
      <ul class="actions">
       <li>
        <input type="submit" value="Send Message"/>
       </li>
       <li>
        <input class="alt" type="reset" value="Reset"/>
       </li>
      </ul>
     </div>
    </div>
   </form>
   <hr/>
   <form action="#" method="post">
    <div class="row gtr-uniform gtr-50">
     <div class="col-9 col-12-mobilep">
      <input id="query" name="query" placeholder="Query" type="text" value="">
      </input>
     </div>
     <div class="col-3 col-12-mobilep">
      <input class="fit" type="submit" value="Search">
      </input>
     </div>
    </div>
   </form>
  </section>
 </div>
</div>
<div class="row">
 <div class="col-12">
  Imagen
  <section class="box">
   <h3>
    Imagen
   </h3>
   <h4>
    Adaptar
   </h4>
   <span class="image fit">
    <img alt="" src="images/pic04.jpg"/>
   </span>
   <div class="box alt">
    <div class="row gtr-50 gtr-uniform">
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
     <div class="col-4">
      <span class="image fit">
       <img alt="" src="images/pic04.jpg"/>
      </span>
     </div>
    </div>
   </div>
   <h4>
    Izquierda y derecha
   </h4>
   <p>
    <span class="image left">
     <img alt="" src="images/pic05.jpg"/>
    </span>
    Fringilla nisl. hecho accumsan
				interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis en
				vest&iacute;bulo de faucibus. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
				Entero ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vest&iacute;bulo ante ipsum
				primis en faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
				faucibus. Entero ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis
				eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
				iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent tincidunt felis
				sagitario eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscente
				eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent.
   </p>
   <p>
    <span class="image right">
     <img alt="" src="images/pic05.jpg"/>
    </span>
    Fringilla nisl. hecho accumsan
				interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis en
				vest&iacute;bulo de faucibus. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
				Entero ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vest&iacute;bulo ante ipsum
				primis en faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu
				faucibus. Entero ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis
				eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis
				iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent tincidunt felis
				sagitario eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscente
				eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Entero ac pellentesque praesent.
   </p>
  </section>
 </div>
</div>
Pie de p&aacute;gina
<footer id="footer">
 <ul class="icons">
  <li>
   <a class="icon brands fa-twitter" href="#">
    <span class="label">
     Gorjeo
    </span>
   </a>
  </li>
  <li>
   <a class="icon brands fa-facebook-f" href="#">
    <span class="label">
     Facebook
    </span>
   </a>
  </li>
  <li>
   <a class="icon brands fa-instagram" href="#">
    <span class="label">
     Instagram
    </span>
   </a>
  </li>
  <li>
   <a class="icon brands fa-github" href="#">
    <span class="label">
     GitHub
    </span>
   </a>
  </li>
  <li>
   <a class="icon brands fa-dribbble" href="#">
    <span class="label">
     regatear
    </span>
   </a>
  </li>
  <li>
   <a class="icon brands fa-google-plus" href="#">
    <span class="label">
     Google+
    </span>
   </a>
  </li>
 </ul>
 <ul class="copyright">
  <li>
   &copy; Sin t&iacute;tulo. Reservados todos los derechos.
  </li>
  <li>
   Dise&ntilde;o:
   <a href="http://html5up.net">
    HTML5 ARRIBA
   </a>
  </li>
 </ul>
</footer>
Guiones
<script src="assets/js/jquery.min.js">
</script>
<script src="assets/js/jquery.dropotron.min.js">
</script>
<script src="assets/js/jquery.scrollex.min.js">
</script>
<script src="assets/js/browser.min.js">
</script>
<script src="assets/js/breakpoints.min.js">
</script>
<script src="assets/js/util.js">
</script>
<script src="assets/js/main.js">
</script>
