{% extends "base.html" %}

{% block title %}Generic - DevSciLab{% endblock %}
{% block body_class %}is-preload{% endblock %}

{% block content %}
<section class="container" id="main">
 <header>
  <h2>
   Gen&eacute;rico
  </h2>
  <p>
   Una p&aacute;gina gen&eacute;rica para cada situaci&oacute;n no gen&eacute;rica.
  </p>
 </header>
 <div class="box">
  <span class="image featured">
   <img alt="" src="{{ url_for('static', filename='images/pic01.jpg') }}"/>
  </span>
  <h3>
   Este es un subt&iacute;tulo
  </h3>
  <p>
   Cep risus aliquam gravida cep ut lacus amet. Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non
			blandit accumsan eget lacinia nunc integer interdum amet aliquam ut orci non col ut ut praesent. siempre amet
			interdum mi. Phasellus enim laoreet ac ac commodo faucibus faucibus. Curae ante vestibulum ante. Blandit.
			Ante accumsan nisi eu placerat gravida placerat adipiscing in risus fusce vitae ac mi accumsan nunc in
			accumsan tempor blandit aliquet aliquet lobortis. Ultricies blandit lobortis praesent turpis. adipiscente
			accumsan adipiscing adipiscing ac lacinia cep. Orci blandit a iaculis adipiscing ac. Vivamus ornare laoreet
			odio vis praesent nunc lorem mi. Erat. Tempus sem faucibus ac id. Vis en blandita. Nascetur ultricies blandit
			ac. Arcu aliquam. Accumsan mi eget nulla adipiscente. Non vestibulum ac interdum condimentum semper commodo
			masa arc&uacute;.
  </p>
  <div class="row">
   <div class="row-6 row-12-mobilep">
    <h3>
     Y ahora un subt&iacute;tulo
    </h3>
    <p>
     Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc
					entero interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Faselo
					enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. vivamus ornare
					laoreet odio vis praesent.
    </p>
   </div>
   <div class="row-6 row-12-mobilep">
    <h3>
     Y otro subt&iacute;tulo
    </h3>
    <p>
     Adipiscing faucibus nunc placerat. Tempus adipiscing turpis non blandit accumsan eget lacinia nunc
					entero interdum amet aliquam ut orci non col ut ut praesent. Semper amet interdum mi. Faselo
					enim laoreet ac ac commodo faucibus faucibus. Curae lorem ipsum adipiscing ac. vivamus ornare
					laoreet odio vis praesent.
    </p>
   </div>
  </div>
 </div>
</section>
{% endblock %}
